<h1 mat-dialog-title>Login</h1>
<div mat-dialog-content>
  <p>What's your favorite animal?</p>



<img width="90" alt="HiperLogo" src="assets/img/banner-ico.png" style="display: block; margin: auto; margin-bottom: 2rem;">
  <mat-form-field appearance="outline">
    <mat-label>Ingresa tu usuario</mat-label>
    <input [(ngModel)]="usuario.cUsuario" matInput placeholder="Usuario..." name="username" id="username" autofocus required>
    <mat-icon matSuffix>account_circle</mat-icon>
  </mat-form-field>

  
  <mat-form-field appearance="outline">
      <mat-label>Ingresa tu contraseña</mat-label>
      <input [(ngModel)]="usuario.cUCodigo" matInput placeholder="Contraseña..." [type]="hide ? 'text' : 'password'" name="password" id="password" required>
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
  </mat-form-field>

</div>
<div mat-dialog-actions>
  <!-- 
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
  -->
  <button mat-stroked-button color="warn">Ingresar</button>
</div>