<mat-toolbar class="color fixed-header fontclass">

    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <img width="35" alt="bac-image" src="assets/img/banner-ico.png">
      &nbsp;
      <span class="color-label fontclass-chica-title">GhostGunz</span>

      <div fxShow="true" fxHide.lt-md="true">
    <button mat-flat-button class="left fontclass-chica-subt" [routerLink]="['/home']"> <mat-icon class="color-ico">home</mat-icon> {{'NAVBAR.INICIO' | translate}}</button>

    <button mat-flat-button [matMenuTriggerFor]="reg" class="left fontclass-chica-subt"><mat-icon class="color-ico">add_box</mat-icon> {{'NAVBAR.REGISTRO' | translate}}</button>
        <mat-menu #reg="matMenu">
        <button mat-menu-item class="fontclass-chica-subt" [routerLink]="['/registro']" routerLinkActive="active"> <mat-icon class="color-ico">supervisor_account</mat-icon> {{'NAVBAR.REGISTROU' | translate}}</button>
        <button mat-menu-item class="fontclass-chica-subt" [routerLink]="['/config-red/perfil-comercio']" routerLinkActive="active"><mat-icon class="color-ico">group_work</mat-icon>{{'NAVBAR.REGISTROC' | translate}}</button>
    </mat-menu>

    <button mat-flat-button class="left fontclass-chica-subt" [routerLink]="['/home']"> <mat-icon class="color-ico">cloud_download</mat-icon> {{'NAVBAR.DESCARGA' | translate}}</button>

    <button mat-flat-button [matMenuTriggerFor]="clasi" class="left fontclass-chica-subt"><mat-icon class="color-ico">stars</mat-icon> {{'NAVBAR.CLASI' | translate}}</button>
        <mat-menu #clasi="matMenu">
        <button mat-menu-item class="fontclass-chica-subt"><mat-icon class="color-ico">person</mat-icon> {{'NAVBAR.CLASI_IND' | translate}}</button>
        <button mat-menu-item class="fontclass-chica-subt"><mat-icon class="color-ico">supervisor_account</mat-icon> {{'NAVBAR.CLASI_CLA' | translate}}</button>
        <button mat-menu-item class="fontclass-chica-subt"><mat-icon class="color-ico">emoji_events</mat-icon>{{'NAVBAR.CLASI_TOU' | translate}}</button>
        <button mat-menu-item class="fontclass-chica-subt"><mat-icon class="color-ico">local_activity</mat-icon>{{'NAVBAR.CLASI_EVE' | translate}}</button>
    </mat-menu>

    <button mat-flat-button [matMenuTriggerFor]="store" class="left fontclass-chica-subt"><mat-icon class="color-ico">store</mat-icon> {{'NAVBAR.TIENDA' | translate}}</button>
        <mat-menu #store="matMenu">
        <button mat-menu-item class="fontclass-chica-subt"><mat-icon class="color-ico">star</mat-icon> {{'NAVBAR.TIENDA_DON' | translate}}</button>
        <button mat-menu-item class="fontclass-chica-subt"><mat-icon class="color-ico">star_half</mat-icon> {{'NAVBAR.TIENDA_EVE' | translate}}</button>
        <button mat-menu-item class="fontclass-chica-subt"><mat-icon class="color-ico">emoji_events</mat-icon>{{'NAVBAR.TIENDA_TOU' | translate}}</button>
        <button mat-menu-item class="fontclass-chica-subt"><mat-icon class="color-ico">local_activity</mat-icon>{{'NAVBAR.TIENDA_EPI' | translate}}</button>
        <button mat-menu-item class="fontclass-chica-subt"><mat-icon class="color-ico">local_activity</mat-icon>{{'NAVBAR.TIENDA_LEG' | translate}}</button>
    </mat-menu>
  </div>
    

    <span class="example-spacer"></span>

      <!-- Notificaciones-->
      <button mat-icon-button [matMenuTriggerFor]="notify" class="left icono fontclass-chica"><mat-icon matBadge="15" matBadgeColor="warn" class="color-ico">notifications</mat-icon></button>
    
    <mat-menu #notify="matMenu">
    
        <mat-list role="list">
            <mat-list-item role="listitem">Item 1</mat-list-item>
            <mat-list-item role="listitem">Item 2</mat-list-item>
            <mat-list-item role="listitem">Item 3</mat-list-item>
          </mat-list>

    </mat-menu>

    <div class="toolbar-separator"></div> 

    <button mat-flat-button [matMenuTriggerFor]="perfil" class="fontclass-chica-subt color-ico"><img class="avatar mr-0 mr-sm-16" src="assets/img/mrrobot.jpg">Luis Vidal <mat-icon>keyboard_arrow_down</mat-icon></button>
        <mat-menu #perfil="matMenu">
        <button mat-menu-item class="fontclass-chica-subt"> <mat-icon>person </mat-icon> Mi Perfíl</button>
        <button mat-menu-item class="fontclass-chica-subt"> <mat-icon>exit_to_app</mat-icon> Salir</button>
        <div class="center fontclass-chica-subt">
             <mat-button-toggle-group #langselect="matButtonToggleGroup" (change)="translate.use(langselect.value)">
               <mat-button-toggle *ngFor="let lang of translate.getLangs()" [value]="lang"> {{lang}} </mat-button-toggle>
             </mat-button-toggle-group>
        </div>
        </mat-menu>

    </mat-toolbar-row>
</mat-toolbar>


<!-- 
  <div> 
    <mat-sidenav-container fxFlexFill>
      <mat-sidenav #sidenav>
        <mat-nav-list>

          <a routerLink="/home" mat-list-item>
            <mat-icon>home</mat-icon>
            &nbsp;Inicio
          </a>

          <a routerLink="/registro" mat-list-item>
            <mat-icon>person_add</mat-icon>
            &nbsp;Registro</a>

          <a routerLink="/descarga" mat-list-item>
            <mat-icon>cloud_download</mat-icon>
            &nbsp;Descarga
          </a>

          <a href="#" mat-list-item>
            <mat-icon>lock</mat-icon>
            &nbsp;My Account
          </a>

          <a (click)="sidenav.toggle()" mat-list-item>
            <mat-icon>close</mat-icon> Close
          </a>
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content fxFlexFill>Main content</mat-sidenav-content>
    </mat-sidenav-container>
  </div>-->
