.fixed-header {
    left: 0;
    width: 100% !important;
    height: 4% !important;
    min-height: 50px !important;
}

.left{
    margin-left: 0.5rem !important; 
}

.color{
    //background: rgba(228, 0, 43, 1);
    //background: rgba(225, 73, 73);
    background: rgba(255, 255, 255);
    //background: rgba(66, 66, 66);
    -webkit-box-shadow: 0px 8px 2px -7px rgba(145,145,145,1);
    -moz-box-shadow: 0px 8px 2px -7px rgba(145,145,145,1);
    box-shadow: 0px 8px 2px -7px rgba(145,145,145,1);
}

::ng-deep .color-ico{
    color: rgb(80, 80, 80);
    font-size: 22px;
}

::ng-deep .tam-font{
    font-size: 11px !important;
    color: rgba(112, 112, 112);
}

.color-label{
    color: rgb(32, 32, 32)
}

.right{
    margin-left: 75rem;
}

.fontclass { font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 38px; } .fontclass-chica { font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 38px; } p { font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } blockquote { font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } pre { font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; }

.fontclass-chica-combo { font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; font-size: 11px; font-style: normal; font-variant: normal; font-weight: 300; }
/*
a:link, a:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
    cursor: pointer;
}*/

.fontclass-chica-title {
    font-family: Roboto,Helvetica Neue,sans-serif;
    font-size: 20px !important;
    font-style: bold;
    font-variant: normal; 
    font-weight: 300;
    }

.fontclass-chica-subt {
  font-family: Roboto,Helvetica Neue,sans-serif;
  font-size: 15px !important;
  font-style: bold;
  font-variant: normal; 
  font-weight: 300;
}

.example-spacer {
    flex: 1 1 auto;
  }

.toolbar-separator {
    height: 40px;
    width: 1px;
    background: rgba(0,0,0,.12)
}


.avatar {
    width: 35px;
    min-width: 35px;
    height: 35px;
    line-height: 35px;
    margin: 0 8px 0 0;
    border-radius: 50%;
    font-size: 17px;
    font-weight: 600;
    text-align: center;
}


.icono{
    margin-right: 1rem;
}

.center{
    text-align: center;
}
