.fontclass-chica-title {
    font-family: Roboto,Helvetica Neue,sans-serif;
    font-size: 20px !important;
    font-style: bold;
    font-variant: normal; 
    font-weight: 300;
    }

.fontclass-chica-subt {
  font-family: Roboto,Helvetica Neue,sans-serif;
  font-size: 15px !important;
  font-style: bold;
  font-variant: normal; 
  font-weight: 300;
}