<div style="text-align: center;">
    <mat-divider></mat-divider>
    <p class="fontclass-chica-subt">Copyright <a class="fontclass-chica-subt" href="https://www.facebook.com/GhostGunz/"><font style="color: #00BCBC;">©GhostGunz</font></a> 2012 - 2020</p>
</div>