.example-card {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    justify-content: center;
    display: flex;
  }
  
  .example-header-image {
    background-image: url('https://i.imgur.com/dWnYCA3.png');
    background-size: cover;
  }

.fontclass-chica-title {
    font-family: Roboto,Helvetica Neue,sans-serif;
    font-size: 20px !important;
    font-style: bold;
    font-variant: normal; 
    font-weight: 300;
    }

.fontclass-chica-subt {
  font-family: Roboto,Helvetica Neue,sans-serif;
  font-size: 15px !important;
  font-style: bold;
  font-variant: normal; 
  font-weight: 300;
}


//prueba
html {
  min-height: 100%;
}


body {
  height: 100%;
  margin: 0px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


.home-card {
  border-radius: 4px;
  max-width: 600px;
  max-height: 1000px;
  margin-top: 100px;
  padding: 0;

  .mat-card-image {
    margin: 0;
    height: 100%;
  }

  .home-card-content {
    display: flex;
    justify-content: space-between;

    & > * {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: auto;
      max-width: 50%;

      &:first-child {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }

      &:last-child {
        flex-direction: column;
        align-items: start;
        padding: 8px;
      }
    }
  }
}