<app-navbar></app-navbar>

<div fxLayout="row" fxLayoutAlign="center center">

  <div class="example-card animated fadeIn slow">
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>@GhostGunz</mat-card-title>
      <mat-card-subtitle>Luis Vidal</mat-card-subtitle>
    </mat-card-header>
    <p class="fontclass-chica-subt">Hola!</p>
    <mat-card-content>
      <p class="fontclass-chica-subt">
        Bienvenidos a GhostGunz, un juego gratuito del género shooter para divertirse junto a toda la comunidad y
        demostrar tus habilidades, perfeccionar tu estilo de juego y retar a todos tus adversarios. ¿Estás listo para
        disfrutar de la mejor experiencia en entretenimiento? Juega ya!!
      </p>
    </mat-card-content>
  </mat-card>
</div>

</div>

<div fxLayout="row" fxLayoutAlign="space-evenly start">

  <mat-card class="home-card animated fadeIn slow">
    <mat-card-content class="home-card-content">
      <img mat-card-image src="assets/img/card4.jpg">
      <div>
        <div class="fontclass-chica-title">ANTI LEAD</div>
        <div class="fontclass-chica-subt">Cards provide context and an entry point to more robust
          information and views, and their content and quantity can vary greatly.</div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="home-card animated fadeIn slow">
    <mat-card-content class="home-card-content">
      <img mat-card-image src="assets/img/card2.jpg">
      <div>
        <div class="fontclass-chica-title">BATTLE</div>
        <div class="fontclass-chica-subt">Cards provide context and an entry point to more robust
          information and views, and their content and quantity can vary greatly.</div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="home-card animated fadeIn slow">
    <mat-card-content class="home-card-content">
      <img mat-card-image src="assets/img/card3.jpg">
      <div>
        <div class="fontclass-chica-title">Comunidad</div>
        <div class="fontclass-chica-subt">Cards provide context and an entry point to more robust
          information and views, and their content and quantity can vary greatly.</div>
      </div>
    </mat-card-content>
  </mat-card>


</div>


<br>
<br>
<br>


<app-footer></app-footer>