/*
  .example-card {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    justify-content: center;
    display: flex;
    max-width: 800px !important;
  }*/

  .example-card {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    max-width: 1000px;
  }

  .imageSize{
      font-size: 28px;
  }

  .fontProp{
    font-size: 25px;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  }

  .align{
    margin-left: 3rem;
  }

  .fontclass-chica-title {
    font-family: Roboto,Helvetica Neue,sans-serif;
    font-size: 20px !important;
    font-style: bold;
    font-variant: normal; 
    font-weight: 300;
    }

  .fontclass-chica-subt {
  font-family: Roboto,Helvetica Neue,sans-serif;
  font-size: 15px !important;
  font-style: bold;
  font-variant: normal; 
  font-weight: 300;
  }

  .example-full-width {
    width: 100% !important;
  }

  .btnFocus{
    background: #505050;
    color: #ffffff;
  }