<app-navbar></app-navbar>

<div class="animated fadeIn slow">
<form autocomplete="off" [formGroup]="registroContenido" >

    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title class="fontclass-chica-title">Creación de usuario</mat-card-title>
        <mat-card-subtitle class="fontclass-chica-subt">Usuario de acceso al servidor.</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>

       <mat-form-field class="example-full-width fontclass-chica-label">
        <mat-label>Nombre de Cadena</mat-label>
        <input matInput  type="text"    minlength="6" maxlength="50" required>
      </mat-form-field>

      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-stroked-button class="btnFocus fontclass-chica-subt"><mat-icon>save</mat-icon> Guardar</button>
      </mat-card-actions>
    </mat-card>

      

    

    <!-- 
      <mat-form-field class="fontclass-chica-label">
      <mat-label>Nombre de Cadena</mat-label>
      <input matInput  type="text"  formControlName="dmcchainName" name="dmcchainName"  minlength="6" maxlength="50" required>
      <mat-error>
       <div *ngIf="f.submitted && dmcchainName.invalid">
           <span *ngIf="dmcchainName.errors.required" class="fontclass-chica-combo">Por favor ingrese un nombre de cadena</span>
           <span *ngIf="dmcchainName.errors.minlength" class="fontclass-chica-combo">Nombre de cadena debe ser mayor a 6 carácteres</span>
       </div>
      </mat-error>
    </mat-form-field>
    -->
</form>
</div>

